.bir{
color: rgb(0, 0, 0);
background-color: rgb(244, 208, 1);
width: auto; height: 150px;font-size: 70px;
}
.abc {
    float: left; font-size: 30px;
} 
.anjan{
    font-size: 20px;
}
.ol{
    background-color:skyblue;
   width: 200px; height: 70px; font-size: 30px; 
   margin: 45px;
}
.ma{
    background-color:skyblue;
    width: 200px; height: 70px; font-size: 30px;
    margin: 45px;
}
.xon{
    background-color:skyblue ;
    width: 200px; height: 70px; font-size: 30px;
    margin: 45px;
}
.jon{
    background-color:skyblue;
    width: 200px; height: 70px; font-size: 30px;
    margin: 45px;}
    h1{
        font-size: 70px;
    }
    .hello{
        font-size: 30px;
    }
    .hello2{
        font-size: 30px;
    }
    
    .tugadi{color: rgb(0, 0, 0);
background-color: rgb(244, 208, 1);
width: auto; height: 150px;font-size: 70px;
}

    
